{% extends "layout.html" %}

{% block content %}
<form action="/songs/{{ id }}" method="POST" accept-charset="utf-8">
  <table border="0">
    <tr>
      <td>Song:</td>
      <td>
        <input type="text" name="artist" value="{{ artist }}" />
        -
        <input type="text" name="title" value="{{ title }}" required=true />
      </td>
    </tr>

    <tr>
      <td>Album:</td>
      <td><input type="text" name="album" value="{{ album }}" /></td>
    </tr>

    <tr>
      <td>Duration (seconds):</td>
      <td><input type="number" name="duration" value="{{ duration }}" required=true /></td>
    </tr>
  </table>

  <p><input type="submit" value="Update" /></p>
</form>
{% endblock %}
