{% extends "layout.html" %}

{% block content %}
<h1>Songs</h1>

<table class="table">
  <tr>
    <th></th>
    <th>ID</th>
    <th>Album</th>
    <th>Artist - Title</th>
    <th>Duration</th>
    <th></th>
  </tr>

  {% for song in songs %}
  <tr>
    <td>
      <a href="/songs/{{ song.id }}/edit" class="btn btn-outline-primary" role="button">
        Edit
      </a>
    </td>

    <td>{{ song.id }}</td>
    <td>{{ song.album }}</td>
    <td>
      <a href="/songs/{{ song.id }}">
        {{ song.display_title }}
      </a>
    </td>
    <td>{{ song.duration }}s</td>

    <td>
      <form method="POST" action="/songs/{{ song.id }}/delete">
        <input type="submit" class="btn btn-outline-danger" role="button" value="Delete">
      </form>
    </td>
  </tr>
  {% endfor %}
</table>

<a href="/songs/new">
  Add new song(s)
</a>
{% endblock %}
